In [9]:
import numpy as np
import pandas as pd

In [10]:
se = pd.read_csv('Porto_SE.txt', sep='\t', header=None)
se

                                                      0
0                                               2224 64
1     217 0.5083597 0.40743363 0.7144756 -1.242985 -...
2     650 0.22670893 0.021896597 -0.14305055 -0.6591...
3     377 0.19525497 0.582358 0.1646906 -0.80686563 ...
4     57 -0.50423735 -0.67866814 0.20260465 -0.14068...
...                                                 ...
2220  429 0.4495843 0.27927622 0.9138314 -2.119679 -...
2221  1281 -1.1306024 1.0658451 -0.45200333 -1.10590...
2222  669 -0.02697037 0.014903488 -1.2228172 0.29446...
2223  903 -1.050806 0.1854059 -0.5800011 -1.5143213 ...
2224  133 0.77323127 0.7057826 0.867303 -0.02012687 ...

[2225 rows x 1 columns]

In [18]:
se.shape

(2225, 1)

In [ ]:
se.iloc[1]